@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid container-d100">
    <div class="row justify-content-lg-center">
        <div class="col col-lg-6 pt-5">
            <h2 class="font-weight-bold text-center text-info text-uppercase"><abbr title="S.A.D Cobrança" class="initialism"> Sistema de Apoio a Decisão </abbr></h2>
            <p class="text-center">
                Sistema de Apoio a Decisão de Cobrança
            </p>

            <div class="row">
                <div class="col-lg-4 pl-lg-0 pr-lg-1 pl-0 pr-0 py-1">
                    <a class="btn btn-block btn-info rounded-0 f-size-1 py-3" href="@Url.Action("Index")">Home</a>
                </div>
                
            </div>
        </div>
    </div>
</div>