<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SAD.Cobranca.Infra.Data.IoC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <SAD.Cobranca.Infra.Data.IoC.Properties.Settings>
      <setting name="ConnectionStringSAD" serializeAs="String">
        <value>&lt;add name="ConnectionStringSAD" connectionString="Data Source=192.168.3.20;Initial Catalog=SadDashboard;Integrated Security=false;User ID=sa;Password=123@mudar;Connect Timeout=120;" providerName="System.Data.SqlClient" /&gt;</value>
      </setting>
    </SAD.Cobranca.Infra.Data.IoC.Properties.Settings>
  </applicationSettings>
</configuration>